.container header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    background: rgb(11,95,255);
    background: linear-gradient(135deg, rgba(11,95,255,1) 0%, rgb(2, 15, 134) 100%);
    height: 70px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(56, 56, 56, 0.4) 0px 8px 15px;
  }
  
  .title{
    font-size: 1.5rem;
    color: rgb(202, 221, 255);
    font-weight: 600;
    min-width: 218px;
  }
  
  /* Search */
  .search-element:active, .search-element{
    border: none;
  }
  .search-bar{
    background-color: #fff;
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
  /* /Search */
  .header-elements{
    justify-self: end;
  }
  .header-elements-container{
    display: flex;
    gap: 30px;
  }
  
  .header-elements-icon img{
    height: 40px;
  }
  
  .header-elements-button:hover{
    cursor: pointer;
  }