.container{
  background: rgb(11,95,255);
  background: linear-gradient(135deg, rgba(11,95,255,1) 0%, rgb(2, 15, 134) 100%);
  box-shadow: rgba(56, 56, 56, 0.4) 0px 8px 15px;
  padding: 12px 80px;

  .header{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    max-width: 1600px;
  }
}
  
  .title{
    font-size: 1.5rem;
    color: rgb(202, 221, 255);
    font-weight: 600;
    min-width: 218px;
    justify-self: start;
  }
  
  /* Search */
  .search-element:focus, .search-element{
    border: none;
    outline: none;
  }

  .search-element{
    min-width: 100%;
  }
  .search-bar{
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    justify-items: center;
    align-items: center;
    gap: 4px;
    background-color: #fff;
    width: 500px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      & button{
        padding: 0;
      }
  }
/* 
  .search-bar button{
    
  } */
  /* /Search */
  .header-elements{
    justify-self: end;
  }
  .header-elements-container{
    display: flex;
    gap: 30px;
  }
  
  .header-elements-icon img{
    height: 40px;
  }