.content {
  margin-left: 15px;   /* Remove qualquer margem lateral, centralizando */
  max-width: 850px;    /* Garante uma largura máxima */
  box-sizing: border-box;  /* Inclui padding e borda na largura total */
}

.imageContainer{
  max-width: 830px;  /* Mesmo valor do max-width da imagem */
  margin: 2px;    /* Centraliza a imagem dentro da div */
}
.imageContainer img {
  width: 100%;
  max-width: 830px;
  height: 400px;
  border-radius: 20px;
}

.meetupOnlineTitulo {
  margin: 0px;
  font-size: clamp(1em, 2vw, 1.5em);
}

.meetupId {
  font-size: clamp(0.5em, 1vw, 0.8em);
  margin-bottom: 5px;
}

.eventInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.views {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
}
.views img {
  width: 20px;
}

.shareButton {
  background-color: #00a0e4;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.rating img{
  width: 30px;
}

.host{
  font-size: 15px;
}
.hostInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hostInfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}