.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contentWrapper {
  margin-top: 5px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.contentWrapper > div {
  flex: 1;
  min-width: 300px;
}
