.container {
  padding-top: 12px;
  height: 100%;
  width: 100%;
  /* background: rgba(0, 0, 0, 0.2); */
  max-height: calc(100vh - 80px);
}

.post-container {
  height: 100%;
  .title {
    text-align: center;
  }
}
.post-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 6px;
  overflow-y: scroll;
}

.post-margin-bottom {
  margin-top: 30px;
}

.btn-create-post {
  position: absolute;
  display: block;
  font-size: 2rem;
  bottom: 100px;
  right: 100px;
  background-color: blue;
  padding: 20px;
  border-radius: 100%;
}
