* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
ol,
ul {
  list-style: none;
}
button:active,
button {
  background: none;
  border: none;
  outline: none;
}
button:hover {
  cursor: pointer;
}

.hide-scroll {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}
