.container-modal {
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 999;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 18px;
  background-color: #ffe5fd;
  border-radius: 12px;
  width: 18em;
  text-align: center;
}

.background {
  position: fixed;
  inset: 0;
  background: transparent;
  z-index: -1;
}

.btn-slack {
  background: rgb(11, 95, 255);
  padding: 12px 24px;
  border-radius: 6px;
  transition: 0.2s;
}

.btn-slack:hover {
  cursor: pointer;
}
